# Clean - Refugee Data

In [73]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [74]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [75]:
refugee_data = pd.read_csv('UN refugee-data.csv')

In [76]:
refugee_data.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000

In [77]:
refugee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180502 entries, 0 to 180501
Data columns (total 5 columns):
Year                                       180502 non-null int64
Country / territory of asylum/residence    180502 non-null object
Origin                                     180502 non-null object
Population type                            180502 non-null object
Value                                      180502 non-null object
dtypes: int64(1), object(4)
memory usage: 6.9+ MB

In [78]:
refugee_data.describe()

                Year
count  180502.000000
mean     2007.149273
std         8.061911
min      1951.000000
25%      2003.000000
50%      2009.000000
75%      2013.000000
max      2017.000000

In [79]:
refugee_data.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000

In [80]:
refugee_data['Origin'].unique()

array(['Various/Unknown', 'Angola', 'Rwanda', 'Ghana', 'Sudan',
       'Guinea-Bissau', 'Dem. Rep. of the Congo', 'Albania', 'Armenia',
       'Russian Federation', 'China', 'Tibetan', 'Viet Nam', 'Mozambique',
       'Congo', 'Burundi', 'Greece', 'Hungary', 'Cabo Verde', 'Malawi',
       'Namibia', 'South Africa', 'Ethiopia', 'Zambia', 'Nigeria', 'Iraq',
       'Syrian Arab Rep.', 'Bulgaria',
       'Serbia and Kosovo (S/RES/1244 (1999))', 'Cuba', 'Chad', 'Romania',
       'Czech Rep.', 'Spain', 'Poland',
       'Bolivia (Plurinational State of)', 'Lesotho', 'Brazil', 'Guinea',
       'Cambodia', 'Turkey', 'Myanmar', 'Uganda', 'Chile', 'Uruguay',
       'Pakistan', 'Haiti', 'United Rep. of Tanzania', 'Zimbabwe',
       'Equatorial Guinea', 'Western Sahara', "Lao People's Dem. Rep.",
       'Kenya', 'Somalia', 'Palestinian', 'Benin', 'Cyprus',
       'Philippines', 'Nicaragua', 'Egypt', 'Dominican Rep.', 'Indonesia',
       'Yemen', 'Afghanistan', 'Eritrea', 'El Salvador', 'Guatemala',
       'Argentina', 'Algeria', 'Iran (Islamic Rep. of)', 'Libya',
       'Lithuania', 'Tunisia', 'Stateless', 'Colombia',
       'Central African Rep.', 'Lebanon', 'Jordan', 'Morocco',
       'Seychelles', 'Burkina Faso', 'Mauritania', 'Togo',
       'Sao Tome and Principe', 'Sri Lanka', 'Honduras', 'Bangladesh',
       "Côte d'Ivoire", 'Gambia', 'Grenada', 'Guyana', 'India', 'Israel',
       'Liberia', 'Maldives', 'Malta', 'Peru', 'Singapore',
       'Sierra Leone', 'Senegal', 'Panama', 'Cameroon', 'Botswana',
       'Comoros', 'Thailand', 'Suriname', 'Bahrain', 'Kuwait', 'Djibouti',
       'Ecuador', 'United Kingdom', 'Mali', 'Mongolia', 'Paraguay',
       'Trinidad and Tobago', 'United States of America', 'Fiji',
       'Costa Rica', 'Rep. of Korea', 'Bhutan', 'Canada', 'Germany',
       'Estonia', 'Madagascar', 'Malaysia', 'Niger',
       'Venezuela (Bolivarian Republic of)', 'Tajikistan', 'Azerbaijan',
       'Kazakhstan', 'Ukraine', 'Bosnia and Herzegovina', 'French Guiana',
       'China, Hong Kong SAR', 'Croatia', 'Italy', 'Nepal', 'Gabon',
       'Latvia', 'Georgia', 'Rep. of Moldova', 'Kyrgyzstan',
       'The former Yugoslav Republic of Macedonia', 'Saudi Arabia',
       'Jamaica', 'Slovenia', 'Belarus', 'Uzbekistan', 'Swaziland',
       'Andorra', 'Australia', 'Austria', 'Belgium', 'Belize', 'Barbados',
       'Switzerland', 'Denmark', 'France', 'Ireland', 'Japan', 'Mexico',
       'Mauritius', 'Netherlands', 'Norway', 'Oman', 'Puerto Rico',
       "Dem. People's Rep. of Korea", 'Portugal', 'Qatar', 'Slovakia',
       'Sweden', 'Saint Vincent and the Grenadines', 'Samoa',
       'Turkmenistan', 'Finland', 'Saint Lucia', 'Martinique',
       'Solomon Islands', 'Tuvalu', 'Papua New Guinea',
       'Brunei Darussalam', 'Tonga', 'Iceland', 'Dominica',
       'China, Macao SAR', 'Monaco', 'United Arab Emirates',
       'Antigua and Barbuda', 'San Marino', 'Bermuda', 'Bahamas',
       'Timor-Leste', 'Nauru', 'Vanuatu', 'Saint Kitts and Nevis',
       'New Zealand', 'Palau', 'Kiribati',
       'Micronesia (Federated States of)', 'Cayman Islands', 'Gibraltar',
       'Marshall Islands', 'Turks and Caicos Islands', 'Luxembourg',
       'Niue', 'French Polynesia', 'Holy See (the)', 'New Caledonia',
       'Montenegro', 'Cook Islands', 'Aruba', 'Liechtenstein',
       'South Sudan', 'Curaçao', 'British Virgin Islands', 'Guadeloupe',
       'Anguilla', 'Norfolk Island', 'Wallis and Futuna Islands ',
       'Saint-Pierre-et-Miquelon', 'Svalbard and Jan Mayen',
       'American Samoa', 'Guam'], dtype=object)

In [81]:
# removing ivlaid values from columns:

refugee_data = refugee_data[refugee_data['Value'] != "*"]
refugee_data['Value'] = refugee_data['Value'].astype(int)

In [102]:
# rename columns to readable format:

refugee_data.head()
refugee_data.rename(columns={"Country / territory of asylum/residence":"residence"})

,Year,residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000
5,1951,Germany,Various/Unknown,Refugees (incl. refugee-like situations),265000
6,1951,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),2000
7,1951,Spain,Various/Unknown,Refugees (incl. refugee-like situations),2000
8,1951,France,Various/Unknown,Refugees (incl. refugee-like situations),290000
9,1951,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),208000
10,1951,Greece,Various/Unknown,Refugees (incl. refugee-like situations),18000
11,1951,"China, Hong Kong SAR",Various/Unknown,Refugees (incl. refugee-like situations),30000
12,1951,Italy,Various/Unknown,Refugees (incl. refugee-like situations),26500
13,1951,Luxembourg,Various/Unknown,Refugees (incl. refugee-like situations),1800
14,1951,Morocco,Various/Unknown,Refugees (incl. refugee-like situations),3000
15,1951,Netherlands,Various/Unknown,Refugees (incl. refugee-like situations),14200
16,1951,Norway,Various/Unknown,Refugees (incl. refugee-like situations),2500
17,1951,Sweden,Various/Unknown,Refugees (incl. refugee-like situations),44000
18,1951,Tunisia,Various/Unknown,Refugees (incl. refugee-like situations),2000
19,1951,Turkey,Various/Unknown,Refugees (incl. refugee-like situations),2700
20,1951,United States of America,Various/Unknown,Refugees (incl. refugee-like situations),350000
21,1952,Austria,Various/Unknown,Refugees (incl. refugee-like situations),238200
22,1952,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),53500
23,1952,Canada,Various/Unknown,Refugees (incl. refugee-like situations),154828
24,1952,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),9800
25,1952,Germany,Various/Unknown,Refugees (incl. refugee-like situations),240000
26,1952,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),1800
27,1952,France,Various/Unknown,Refugees (incl. refugee-like situations),280000
28,1952,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),200000
29,1952,Greece,Various/Unknown,Refugees (incl. refugee-like situations),19000
...,...,...,...,...,...
180449,2017,Zambia,South Africa,Refugees (incl. refugee-like situations),7
180450,2017,Zambia,Zimbabwe,Refugees (incl. refugee-like situations),5
180454,2017,Zimbabwe,Burundi,Asylum-seekers,17
180455,2017,Zimbabwe,Burundi,Others of concern,44
180456,2017,Zimbabwe,Burundi,Refugees (incl. refugee-like situations),622
180461,2017,Zimbabwe,Côte d'Ivoire,Refugees (incl. refugee-like situations),10
180462,2017,Zimbabwe,Dem. Rep. of the Congo,Asylum-seekers,245
180463,2017,Zimbabwe,Dem. Rep. of the Congo,Others of concern,2406
180464,2017,Zimbabwe,Dem. Rep. of the Congo,Refugees (incl. refugee-like situations),6296
180466,2017,Zimbabwe,Congo,Refugees (incl. refugee-like situations),13
180467,2017,Zimbabwe,Egypt,Refugees (incl. refugee-like situations),5
180470,2017,Zimbabwe,Eritrea,Refugees (incl. refugee-like situations),20
180471,2017,Zimbabwe,Ethiopia,Asylum-seekers,14
180473,2017,Zimbabwe,Ethiopia,Refugees (incl. refugee-like situations),68
180475,2017,Zimbabwe,Kenya,Asylum-seekers,8
180481,2017,Zimbabwe,Mozambique,Asylum-seekers,8059
180482,2017,Zimbabwe,Rwanda,Asylum-seekers,13
180483,2017,Zimbabwe,Rwanda,Others of concern,239
180484,2017,Zimbabwe,Rwanda,Refugees (incl. refugee-like situations),500
180485,2017,Zimbabwe,Sudan,Asylum-seekers,9
180486,2017,Zimbabwe,Sudan,Others of concern,9
180487,2017,Zimbabwe,Sudan,Refugees (incl. refugee-like situations),5
180488,2017,Zimbabwe,Somalia,Asylum-seekers,8
180489,2017,Zimbabwe,Somalia,Others of concern,9
180490,2017,Zimbabwe,Somalia,Refugees (incl. refugee-like situations),19
180495,2017,Zimbabwe,Uganda,Refugees (incl. refugee-like situations),8
180496,2017,Zimbabwe,South Africa,Asylum-seekers,9
180497,2017,Zimbabwe,South Africa,Others of concern,5
180500,2017,Zimbabwe,Zimbabwe,Others of concern,137
180501,2017,Zimbabwe,Zimbabwe,Returned refugees,38

In [85]:
# transferring the dataset to a database -> SQLITE:

import sqlite3
connex = sqlite3.connect("refugee_data.sqlite")  # Opens file if exists, else creates file
refugee_data.to_sql('refugee_data', con = connex, if_exists='replace')
connex.commit()

In [12]:
# refugee_data_filtered = refugee_data.groupby(['Year','Population type', 'Origin'] ).sum()
# refugee_data.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000

In [62]:
# filtering data for the population type:

refugee_data_filtered_df = pd.pivot_table(refugee_data,index=['Year', 'Origin'], columns=['Population type'], aggfunc=np.sum, fill_value=0)
refugee_data_filtered_df

                                                        Value  \
Population type                                Asylum-seekers
Year Origin
1951 Various/Unknown                                        0
1952 Various/Unknown                                        0
1953 Various/Unknown                                        0
1954 Various/Unknown                                        0
1955 Various/Unknown                                        0
1956 Various/Unknown                                        0
1957 Various/Unknown                                        0
1958 Various/Unknown                                        0
1959 Various/Unknown                                        0
1960 Angola                                                 0
     Various/Unknown                                        0
1961 Angola                                                 0
     Ghana                                                  0
     Rwanda                                                 0
     Various/Unknown                                        0
1962 Angola                                                 0
     Ghana                                                  0
     Rwanda                                                 0
     Various/Unknown                                        0
1963 Angola                                                 0
     Ghana                                                  0
     Guinea-Bissau                                          0
     Rwanda                                                 0
     Sudan                                                  0
     Various/Unknown                                        0
1964 Albania                                                0
     Angola                                                 0
     Armenia                                                0
     China                                                  0
     Dem. Rep. of the Congo                                 0
...                                                       ...
2017 Switzerland                                            8
     Syrian Arab Rep.                                  146709
     Tajikistan                                          3582
     Thailand                                            1328
     The former Yugoslav Republic of Macedonia           4020
     Tibetan                                               12
     Timor-Leste                                            5
     Togo                                                3743
     Tonga                                                107
     Trinidad and Tobago                                  304
     Tunisia                                             2307
     Turkey                                             33767
     Turkmenistan                                        1097
     Turks and Caicos Islands                               0
     Uganda                                             10130
     Ukraine                                            37651
     United Arab Emirates                                 182
     United Kingdom                                       147
     United Rep. of Tanzania                             1430
     United States of America                            2166
     Uruguay                                              164
     Uzbekistan                                          3506
     Vanuatu                                               15
     Various/Unknown                                    34558
     Venezuela (Bolivarian Republic of)                147954
     Viet Nam                                            7104
     Western Sahara                                      1839
     Yemen                                              24599
     Zambia                                               158
     Zimbabwe                                           21754

                                                                             \
Population type                                Internally displaced persons
Year Origin
1951 Various/Unknown                                                      0
1952 Various/Unknown                                                      0
1953 Various/Unknown                                                      0
1954 Various/Unknown                                                      0
1955 Various/Unknown                                                      0
1956 Various/Unknown                                                      0
1957 Various/Unknown                                                      0
1958 Various/Unknown                                                      0
1959 Various/Unknown                                                      0
1960 Angola                                                               0
     Various/Unknown                                                      0
1961 Angola                                                               0
     Ghana                                                                0
     Rwanda                                                               0
     Various/Unknown                                                      0
1962 Angola                                                               0
     Ghana                                                                0
     Rwanda                                                               0
     Various/Unknown                                                      0
1963 Angola                                                               0
     Ghana                                                                0
     Guinea-Bissau                                                        0
     Rwanda                                                               0
     Sudan                                                                0
     Various/Unknown                                                      0
1964 Albania                                                              0
     Angola                                                               0
     Armenia                                                              0
     China                                                                0
     Dem. Rep. of the Congo                                               0
...                                                                     ...
2017 Switzerland                                                          0
     Syrian Arab Rep.                                               6150005
     Tajikistan                                                           0
     Thailand                                                             0
     The former Yugoslav Republic of Macedonia                            0
     Tibetan                                                              0
     Timor-Leste                                                          0
     Togo                                                                 0
     Tonga                                                                0
     Trinidad and Tobago                                                  0
     Tunisia                                                              0
     Turkey                                                               0
     Turkmenistan                                                         0
     Turks and Caicos Islands                                             0
     Uganda                                                               0
     Ukraine                                                        1800000
     United Arab Emirates                                                 0
     United Kingdom                                                       0
     United Rep. of Tanzania                                              0
     United States of America                                             0
     Uruguay                                                              0
     Uzbekistan                                                           0
     Vanuatu                                                              0
     Various/Unknown                                                      0
     Venezuela (Bolivarian Republic of)                                   0
     Viet Nam                                                             0
     Western Sahara                                                       0
     Yemen                                                          2014062
     Zambia                                                               0
     Zimbabwe                                                             0

                                                                  \
Population type                                Others of concern
Year Origin
1951 Various/Unknown                                           0
1952 Various/Unknown                                           0
1953 Various/Unknown                                           0
1954 Various/Unknown                                           0
1955 Various/Unknown                                           0
1956 Various/Unknown                                           0
1957 Various/Unknown                                           0
1958 Various/Unknown                                           0
1959 Various/Unknown                                           0
1960 Angola                                                    0
     Various/Unknown                                           0
1961 Angola                                                    0
     Ghana                                                     0
     Rwanda                                                    0
     Various/Unknown                                           0
1962 Angola                                                    0
     Ghana                                                     0
     Rwanda                                                    0
     Various/Unknown                                           0
1963 Angola                                                    0
     Ghana                                                     0
     Guinea-Bissau                                             0
     Rwanda                                                    0
     Sudan                                                     0
     Various/Unknown                                           0
1964 Albania                                                   0
     Angola                                                    0
     Armenia                                                   0
     China                                                     0
     Dem. Rep. of the Congo                                    0
...                                                          ...
2017 Switzerland                                               0
     Syrian Arab Rep.                                       8596
     Tajikistan                                                0
     Thailand                                                  0
     The former Yugoslav Republic of Macedonia                 0
     Tibetan                                                   8
     Timor-Leste                                               0
     Togo                                                      0
     Tonga                                                     0
     Trinidad and Tobago                                      15
     Tunisia                                                   7
     Turkey                                                   10
     Turkmenistan                                              0
     Turks and Caicos Islands                                  0
     Uganda                                               180000
     Ukraine                                                   0
     United Arab Emirates                                      0
     United Kingdom                                            0
     United Rep. of Tanzania                                  10
     United States of America                                  6
     Uruguay                                                   0
     Uzbekistan                                                0
     Vanuatu                                                   0
     Various/Unknown                                      120348
     Venezuela (Bolivarian Republic of)                   345585
     Viet Nam                                                 68
     Western Sahara                                            0
     Yemen                                                     5
     Zambia                                                    0
     Zimbabwe                                                169

                                                                                         \
Population type                                Refugees (incl. refugee-like situations)
Year Origin
1951 Various/Unknown                                                            1957211
1952 Various/Unknown                                                            1787928
1953 Various/Unknown                                                            1679304
1954 Various/Unknown                                                            1581628
1955 Various/Unknown                                                            1547066
1956 Various/Unknown                                                            1600875
1957 Various/Unknown                                                            1582814
1958 Various/Unknown                                                            1545310
1959 Various/Unknown                                                            1520185
1960 Angola                                                                      150000
     Various/Unknown                                                            1354664
1961 Angola                                                                      150000
     Ghana                                                                         5000
     Rwanda                                                                      147000
     Various/Unknown                                                            1339867
1962 Angola                                                                      170000
     Ghana                                                                         5000
     Rwanda                                                                      147000
     Various/Unknown                                                            1301322
1963 Angola                                                                      175000
     Ghana                                                                         5000
     Guinea-Bissau                                                                 6000
     Rwanda                                                                      154000
     Sudan                                                                        13000
     Various/Unknown                                                            1203603
1964 Albania                                                                        100
     Angola                                                                      200000
     Armenia                                                                        170
     China                                                                      1200000
     Dem. Rep. of the Congo                                                       58700
...                                                                                 ...
2017 Switzerland                                                                      0
     Syrian Arab Rep.                                                           6308619
     Tajikistan                                                                    1354
     Thailand                                                                       154
     The former Yugoslav Republic of Macedonia                                     1633
     Tibetan                                                                      13531
     Timor-Leste                                                                      8
     Togo                                                                          8100
     Tonga                                                                           34
     Trinidad and Tobago                                                            310
     Tunisia                                                                       1806
     Turkey                                                                       61338
     Turkmenistan                                                                   340
     Turks and Caicos Islands                                                        14
     Uganda                                                                        6369
     Ukraine                                                                     139561
     United Arab Emirates                                                           132
     United Kingdom                                                                  85
     United Rep. of Tanzania                                                        630
     United States of America                                                       285
     Uruguay                                                                          7
     Uzbekistan                                                                    3380
     Vanuatu                                                                          0
     Various/Unknown                                                             202185
     Venezuela (Bolivarian Republic of)                                            9247
     Viet Nam                                                                    334044
     Western Sahara                                                              116758
     Yemen                                                                        23500
     Zambia                                                                         250
     Zimbabwe                                                                     17390

                                                              \
Population type                                Returned IDPs
Year Origin
1951 Various/Unknown                                       0
1952 Various/Unknown                                       0
1953 Various/Unknown                                       0
1954 Various/Unknown                                       0
1955 Various/Unknown                                       0
1956 Various/Unknown                                       0
1957 Various/Unknown                                       0
1958 Various/Unknown                                       0
1959 Various/Unknown                                       0
1960 Angola                                                0
     Various/Unknown                                       0
1961 Angola                                                0
     Ghana                                                 0
     Rwanda                                                0
     Various/Unknown                                       0
1962 Angola                                                0
     Ghana                                                 0
     Rwanda                                                0
     Various/Unknown                                       0
1963 Angola                                                0
     Ghana                                                 0
     Guinea-Bissau                                         0
     Rwanda                                                0
     Sudan                                                 0

In [64]:
#checking for the average value:

refugee_data[(refugee_data['Year'] == 2008) & (refugee_data['Origin'] == 'Iraq') & (refugee_data['Population type'] == 'Asylum-seekers')]['Value'].sum()

25675

In [63]:
refugee_data_filtered_df.iloc[(refugee_data_filtered_df.index.get_level_values('Year') == 2008) & (refugee_data_filtered_df.index.get_level_values('Origin') == 'Iraq')]

                         Value                                                 \
Population type Asylum-seekers Internally displaced persons Others of concern
Year Origin
2008 Iraq                25675                      2647251              7766

                                                                        \
Population type Refugees (incl. refugee-like situations) Returned IDPs
Year Origin
2008 Iraq                                        1903519        195890


Population type Returned refugees Stateless persons
Year Origin
2008 Iraq                   11194                 0

In [29]:
type(refugee_data_filtered_df.index)

pandas.core.indexes.multi.MultiIndex

In [41]:
refugee_data_filtered_df.index

MultiIndex(levels=[[1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Central African Rep.', 'Chad', 'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Rep.', 'Côte d'Ivoire', 'Dem. People's Rep. of Korea', 'Dem. Rep. of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Rep.', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See (the)', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Lao People's Dem. Rep.', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Rep. of Korea', 'Rep. of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Saint-Pierre-et-Miquelon', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Kosovo (S/RES/1244 (1999))', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Stateless', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Rep.', 'Tajikistan', 'Thailand', 'The former Yugoslav Republic of Macedonia', 'Tibetan', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United Rep. of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Various/Unknown', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands ', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe']],

In [65]:
#converting data to a database SQLITE:

import sqlite3
connex = sqlite3.connect("refugee_data_by_reg.sqlite")  # Opens file if exists, else creates file

In [66]:
refugee_data_filtered_df.to_sql('refugee_data_by_reg', con = connex, if_exists='replace')

In [67]:
connex.commit()

In [49]:
refugee_data_filtered_df

                                                        Value  \
Population type                                Asylum-seekers
Year Origin
1951 Various/Unknown                                 0.000000
1952 Various/Unknown                                 0.000000
1953 Various/Unknown                                 0.000000
1954 Various/Unknown                                 0.000000
1955 Various/Unknown                                 0.000000
1956 Various/Unknown                                 0.000000
1957 Various/Unknown                                 0.000000
1958 Various/Unknown                                 0.000000
1959 Various/Unknown                                 0.000000
1960 Angola                                          0.000000
     Various/Unknown                                 0.000000
1961 Angola                                          0.000000
     Ghana                                           0.000000
     Rwanda                                          0.000000
     Various/Unknown                                 0.000000
1962 Angola                                          0.000000
     Ghana                                           0.000000
     Rwanda                                          0.000000
     Various/Unknown                                 0.000000
1963 Angola                                          0.000000
     Ghana                                           0.000000
     Guinea-Bissau                                   0.000000
     Rwanda                                          0.000000
     Sudan                                           0.000000
     Various/Unknown                                 0.000000
1964 Albania                                         0.000000
     Angola                                          0.000000
     Armenia                                         0.000000
     China                                           0.000000
     Dem. Rep. of the Congo                          0.000000
...                                                       ...
2017 Switzerland                                     8.000000
     Syrian Arab Rep.                             1833.862500
     Tajikistan                                    199.000000
     Thailand                                      120.727273
     The former Yugoslav Republic of Macedonia     268.000000
     Tibetan                                         6.000000
     Timor-Leste                                     5.000000
     Togo                                          138.629630
     Tonga                                          53.500000
     Trinidad and Tobago                            76.000000
     Tunisia                                        82.392857
     Turkey                                        496.573529
     Turkmenistan                                  156.714286
     Turks and Caicos Islands                        0.000000
     Uganda                                        316.562500
     Ukraine                                       965.410256
     United Arab Emirates                           60.666667
     United Kingdom                                 36.750000
     United Rep. of Tanzania                        89.375000
     United States of America                      180.500000
     Uruguay                                        32.800000
     Uzbekistan                                    146.083333
     Vanuatu                                         7.500000
     Various/Unknown                              1047.212121
     Venezuela (Bolivarian Republic of)           4109.833333
     Viet Nam                                      322.909091
     Western Sahara                                367.800000
     Yemen                                         464.132075
     Zambia                                         19.750000
     Zimbabwe                                      945.826087

                                                                             \
Population type                                Internally displaced persons
Year Origin
1951 Various/Unknown                                                    0.0
1952 Various/Unknown                                                    0.0
1953 Various/Unknown                                                    0.0
1954 Various/Unknown                                                    0.0
1955 Various/Unknown                                                    0.0
1956 Various/Unknown                                                    0.0
1957 Various/Unknown                                                    0.0
1958 Various/Unknown                                                    0.0
1959 Various/Unknown                                                    0.0
1960 Angola                                                             0.0
     Various/Unknown                                                    0.0
1961 Angola                                                             0.0
     Ghana                                                              0.0
     Rwanda                                                             0.0
     Various/Unknown                                                    0.0
1962 Angola                                                             0.0
     Ghana                                                              0.0
     Rwanda                                                             0.0
     Various/Unknown                                                    0.0
1963 Angola                                                             0.0
     Ghana                                                              0.0
     Guinea-Bissau                                                      0.0
     Rwanda                                                             0.0
     Sudan                                                              0.0
     Various/Unknown                                                    0.0
1964 Albania                                                            0.0
     Angola                                                             0.0
     Armenia                                                            0.0
     China                                                              0.0
     Dem. Rep. of the Congo                                             0.0
...                                                                     ...
2017 Switzerland                                                        0.0
     Syrian Arab Rep.                                             6150005.0
     Tajikistan                                                         0.0
     Thailand                                                           0.0
     The former Yugoslav Republic of Macedonia                          0.0
     Tibetan                                                            0.0
     Timor-Leste                                                        0.0
     Togo                                                               0.0
     Tonga                                                              0.0
     Trinidad and Tobago                                                0.0
     Tunisia                                                            0.0
     Turkey                                                             0.0
     Turkmenistan                                                       0.0
     Turks and Caicos Islands                                           0.0
     Uganda                                                             0.0
     Ukraine                                                      1800000.0
     United Arab Emirates                                               0.0
     United Kingdom                                                     0.0
     United Rep. of Tanzania                                            0.0
     United States of America                                           0.0
     Uruguay                                                            0.0
     Uzbekistan                                                         0.0
     Vanuatu                                                            0.0
     Various/Unknown                                                    0.0
     Venezuela (Bolivarian Republic of)                                 0.0
     Viet Nam                                                           0.0
     Western Sahara                                                     0.0
     Yemen                                                        2014062.0
     Zambia                                                             0.0
     Zimbabwe                                                           0.0

                                                                  \
Population type                                Others of concern
Year Origin
1951 Various/Unknown                                    0.000000
1952 Various/Unknown                                    0.000000
1953 Various/Unknown                                    0.000000
1954 Various/Unknown                                    0.000000
1955 Various/Unknown                                    0.000000
1956 Various/Unknown                                    0.000000
1957 Various/Unknown                                    0.000000
1958 Various/Unknown                                    0.000000
1959 Various/Unknown                                    0.000000
1960 Angola                                             0.000000
     Various/Unknown                                    0.000000
1961 Angola                                             0.000000
     Ghana                                              0.000000
     Rwanda                                             0.000000
     Various/Unknown                                    0.000000
1962 Angola                                             0.000000
     Ghana                                              0.000000
     Rwanda                                             0.000000
     Various/Unknown                                    0.000000
1963 Angola                                             0.000000
     Ghana                                              0.000000
     Guinea-Bissau                                      0.000000
     Rwanda                                             0.000000
     Sudan                                              0.000000
     Various/Unknown                                    0.000000
1964 Albania                                            0.000000
     Angola                                             0.000000
     Armenia                                            0.000000
     China                                              0.000000
     Dem. Rep. of the Congo                             0.000000
...                                                          ...
2017 Switzerland                                        0.000000
     Syrian Arab Rep.                                2865.333333
     Tajikistan                                         0.000000
     Thailand                                           0.000000
     The former Yugoslav Republic of Macedonia          0.000000
     Tibetan                                            8.000000
     Timor-Leste                                        0.000000
     Togo                                               0.000000
     Tonga                                              0.000000
     Trinidad and Tobago                               15.000000
     Tunisia                                            7.000000
     Turkey                                            10.000000
     Turkmenistan                                       0.000000
     Turks and Caicos Islands                           0.000000
     Uganda                                        180000.000000
     Ukraine                                            0.000000
     United Arab Emirates                               0.000000
     United Kingdom                                     0.000000
     United Rep. of Tanzania                           10.000000
     United States of America                           6.000000
     Uruguay                                            0.000000
     Uzbekistan                                         0.000000
     Vanuatu                                            0.000000
     Various/Unknown                                17192.571429
     Venezuela (Bolivarian Republic of)             43198.125000
     Viet Nam                                          68.000000
     Western Sahara                                     0.000000
     Yemen                                              5.000000
     Zambia                                             0.000000
     Zimbabwe                                          84.500000

                                                                                         \
Population type                                Refugees (incl. refugee-like situations)
Year Origin
1951 Various/Unknown                                                       93200.523810
1952 Various/Unknown                                                      105172.235294
1953 Various/Unknown                                                       98782.588235
1954 Various/Unknown                                                       79081.400000
1955 Various/Unknown                                                       96691.625000
1956 Various/Unknown                                                      100054.687500
1957 Various/Unknown                                                       98925.875000
1958 Various/Unknown                                                       85850.555556
1959 Various/Unknown                                                       84454.722222
1960 Angola                                                               150000.000000
     Various/Unknown                                                       75259.111111
1961 Angola                                                               150000.000000
     Ghana                                                                  5000.000000
     Rwanda                                                                36750.000000
     Various/Unknown                                                       70519.315789
1962 Angola                                                               170000.000000
     Ghana                                                                  5000.000000
     Rwanda                                                                36750.000000
     Various/Unknown                                                       65066.100000
1963 Angola                                                               175000.000000
     Ghana                                                                  5000.000000
     Guinea-Bissau                                                          6000.000000
     Rwanda                                                                38500.000000
     Sudan                                                                  6500.000000
     Various/Unknown                                                       60180.150000
1964 Albania                                                                 100.000000
     Angola                                                               200000.000000
     Armenia                                                                 170.000000
     China                                                                600000.000000
     Dem. Rep. of the Congo                                                14675.000000
...                                                                                 ...
2017 Switzerland                                                               0.000000
     Syrian Arab Rep.                                                      60082.085714
     Tajikistan                                                               56.416667
     Thailand                                                                 19.250000
     The former Yugoslav Republic of Macedonia                               125.615385
     Tibetan                                                                4510.333333
     Timor-Leste                                                               8.000000
     Togo                                                                    253.125000
     Tonga                                                                    34.000000
     Trinidad and Tobago                                                      77.500000
     Tunisia                                                                  95.052632
     Turkey                                                                 1277.875000
     Turkmenistan                                                             24.285714
     Turks and Caicos Islands                                                 14.000000
     Uganda                                                                  167.605263
     Ukraine                                                                2969.382979
     United Arab Emirates                                                     22.000000
     United Kingdom                                                           14.166667
     United Rep. of Tanzania                                                  39.375000
     United States of America                                                 40.714286
     Uruguay                                                                   7.000000
     Uzbekistan                                                              105.625000
     Vanuatu                                                                   0.000000
     Various/Unknown                                                        6126.818182
     Venezuela (Bolivarian Republic of)                                      385.291667
     Viet Nam                                                              12847.846154
     Western Sahara                                                        11675.800000
     Yemen                                                                   451.923077
     Zambia                                                                   27.777778
     Zimbabwe                                                                724.583333

                                                              \
Population type                                Returned IDPs
Year Origin
1951 Various/Unknown                                     0.0
1952 Various/Unknown                                     0.0
1953 Various/Unknown                                     0.0
1954 Various/Unknown                                     0.0
1955 Various/Unknown                                     0.0
1956 Various/Unknown                                     0.0
1957 Various/Unknown                                     0.0
1958 Various/Unknown                                     0.0
1959 Various/Unknown                                     0.0
1960 Angola                                              0.0
     Various/Unknown                                     0.0
1961 Angola                                              0.0
     Ghana                                               0.0
     Rwanda                                              0.0
     Various/Unknown                                     0.0
1962 Angola                                              0.0
     Ghana                                               0.0
     Rwanda                                              0.0
     Various/Unknown                                     0.0
1963 Angola                                              0.0
     Ghana                                               0.0
     Guinea-Bissau                                       0.0
     Rwanda                                              0.0
     Sudan                                               0.0