In [6]:
import pandas as pd
import numpy as np

un_dataDF = pd.read_csv("UN refugee-data.csv")
GDP_dataDF = pd.read_excel("Data_Extract_From_WDI_Database_Archives_(beta) (1).xlsx")
pop_dataDF = pd.read_excel("Data_Extract_From_Health_Nutrition_and_Population_Statistics.xlsx")

C:\Users\enc82\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
## Need to do something with ".." because it's a string and it's gonna fuck stuff up.

pop_dataDF.head()

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Female population 00-04,SP.POP.0004.FE,Afghanistan,AFG,759603,793858,816580,831924,846981,867876,...,2510438,2537905,2554234,2557638,2553184,2549149,2550698,2544155,2562522,..
1,Female population 00-04,SP.POP.0004.FE,Albania,ALB,130995,135738,139921,143517,146390,148388,...,84693,82274,80905,80672,81098,81529,81688,84231,83926,..
2,Female population 00-04,SP.POP.0004.FE,Algeria,DZA,1021662,1037234,1064825,1101826,1140243,1175469,...,1788357,1890468,2024315,2125335,2198664,2249563,2282482,2299519,2281837,..
3,Female population 00-04,SP.POP.0004.FE,American Samoa,ASM,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Female population 00-04,SP.POP.0004.FE,Andorra,AND,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [20]:
## Need to do something with ".." because it's a string and it's gonna fuck stuff up.
GDP_dataDF.head(100)

,Country Name,Country Code,Series Name,Series Code,Version Name,Version Code,1950 [YR1950],1951 [YR1951],1952 [YR1952],1953 [YR1953],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,550.515,599.298,648.511,647.966,625.34,590.076,549.583,550.068,..,..
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,14.3624,0.426355,12.7523,5.60074,2.72454,1.45131,2.26031,2.66529,..,..
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.58566e+10,1.78043e+10,1.99073e+10,2.05611e+10,2.04849e+10,1.99071e+10,1.90464e+10,1.9544e+10,..,..
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,4094.36,4437.18,4247.61,4413.08,4578.67,3952.83,4131.87,4537.58,..,..
4,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,3.71,2.55,1.42,1,1.77,2.22,3.35,3.83554,..,..
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.1927e+10,1.28909e+10,1.23198e+10,1.27763e+10,1.32282e+10,1.13869e+10,1.18837e+10,1.30385e+10,..,..
6,Algeria,DZA,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,4463.39,5432.41,5565.13,5471.12,5466.43,4162.85,3943.5,4055.25,..,..
7,Algeria,DZA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,3.63415,2.89187,3.37477,2.76764,3.78912,3.76347,3.3,1.6,..,..
8,Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.61207e+11,2.00019e+11,2.09059e+11,2.09755e+11,2.1381e+11,1.65979e+11,1.6013e+11,1.67555e+11,..,..
9,American Samoa,ASM,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,10352.8,10376,11660.3,11589.9,11598.8,11902,11744.8,11394.5,..,..
10,American Samoa,ASM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,0.442478,0.293686,-4.39239,-2.75651,0.944882,1.24805,-2.61941,-5.37975,..,..
11,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,576000000,574000000,644000000,641000000,643000000,6.61e+08,653000000,634000000,..,..
12,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,39736.4,41098.8,38391.1,40619.7,42295,36038.3,37231.8,39146.5,..,..
13,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,-5.35883,-4.64654,-1.61522,0.351645,2.27768,0.842204,1.88912,1.8732,..,..
14,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,3.3557e+09,3.44206e+09,3.16462e+09,3.28159e+09,3.35074e+09,2.81149e+09,2.87731e+09,3.01291e+09,..,..
15,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,3585.91,4615.87,5102.49,5258.41,5412.69,4170.73,3509.6,4100.29,..,..
16,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,4.85922,3.47198,8.54215,4.95459,4.82263,0.943576,-2.5801,-0.147207,..,..
17,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,8.37995e+10,1.1179e+11,1.28053e+11,1.3671e+11,1.45712e+11,1.16194e+11,1.01124e+11,1.22124e+11,..,..
18,Antigua and Barbuda,ATG,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,12174.7,11931.2,12517.6,12194.5,12900.9,13602.4,14506.6,14803,..,..
19,Antigua and Barbuda,ATG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,-7.20002,-2.07913,3.50661,-0.103866,4.65813,4.02574,5.58974,3.03261,..,..
20,Antigua and Barbuda,ATG,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.15247e+09,1.14204e+09,1.21141e+09,1.19292e+09,1.27558e+09,1.35919e+09,1.46463e+09,1.51008e+09,..,..
21,Arab League states,ARB,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,5918.32,6856.04,7465.14,7510.73,7456.6,6429.17,6183.08,6235.42,..,..
22,Arab League states,ARB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,4.77223,3.62915,6.65837,3.16675,2.45664,3.30377,3.23956,0.987176,..,..
23,Arab League states,ARB,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,2.10993e+12,2.50174e+12,2.78679e+12,2.86686e+12,2.90839e+12,2.56077e+12,2.51313e+12,2.58453e+12,..,..
24,Argentina,ARG,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,10276.3,12726.9,12969.7,12976.6,12245.3,13698.3,12654.4,14398.4,..,..
25,Argentina,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,10.1254,6.00395,-1.02642,2.40532,-2.51262,2.73116,-1.82254,2.85447,..,..
26,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,4.23627e+11,5.30163e+11,5.45982e+11,5.52025e+11,5.2632e+11,5.94749e+11,5.54861e+11,6.3743e+11,..,..
27,Armenia,ARM,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,3218.38,3526.98,3684.8,3843.59,3994.71,3617.94,3605.74,3936.8,..,..
28,Armenia,ARM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,2.2,4.7,7.2,3.3,3.6,3.2,0.2,7.5,..,..
29,Armenia,ARM,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,9.26028e+09,1.01421e+10,1.06193e+10,1.11215e+10,1.16095e+10,1.05533e+10,1.05461e+10,1.15366e+10,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Bhutan,BTN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,11.7309,7.89091,5.07171,2.1425,5.74546,6.64456,8.0221,4.6291,..,..
71,Bhutan,BTN,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.58547e+09,1.82021e+09,1.82369e+09,1.79833e+09,1.95882e+09,2.05981e+09,2.21968e+09,2.52801e+09,..,..
72,Bolivia,BOL,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,1981.17,2377.69,2645.23,2947.94,3124,3077.03,3117.33,3393.96,..,..
73,Bolivia,BOL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,4.12672,5.20409,5.12227,6.79601,5.46057,4.85719,4.26392,4.19521,..,..
74,Bolivia,BOL,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.96497e+10,2.39632e+10,2.70845e+10,3.06593e+10,3.29962e+10,3.30002e+10,3.39411e+10,3.75086e+10,..,..
75,Bosnia and Herzegovina,BIH,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,4614.83,5054.33,4722.01,5042.58,5204.24,4584.24,4808.64,5148.21,..,..
76,Bosnia and Herzegovina,BIH,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,0.872151,0.958953,-0.821729,2.3494,1.14962,3.07682,3.14407,3.1862,..,..
77,Bosnia and Herzegovina,BIH,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.71768e+10,1.86447e+10,1.72268e+10,1.81785e+10,1.85583e+10,1.62097e+10,1.69111e+10,1.80549e+10,..,..
78,Botswana,BWA,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,6346.16,7483.88,6901.97,7001.03,7493.75,6521.15,6954.14,7595.61,..,..
79,Botswana,BWA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,8.56363,6.04832,4.45617,11.3434,4.14925,-1.69794,4.31549,2.36008,..,..
80,Botswana,BWA,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.27867e+10,1.5352e+10,1.44204e+10,1.49018e+10,1.62508e+10,1.44065e+10,1.56486e+10,1.74066e+10,..,..
81,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,11224.2,13167.5,12291.5,12216.9,12026.6,8750.22,8650.38,9812.28,8861.53,..
82,Brazil,BRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,7.52823,3.97442,1.92118,3.00482,0.503956,-3.54576,-3.30545,1.06386,1.11758,..
83,Brazil,BRA,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,2.20887e+12,2.6162e+12,2.46519e+12,2.47281e+12,2.45599e+12,1.80221e+12,1.79628e+12,2.05359e+12,1.86861e+12,..
84,British Virgin Islands,VGB,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
85,British Virgin Islands,VGB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
86,British Virgin Islands,VGB,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
87,Brunei,BRN,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,35268.1,47017,47651.3,44597.3,41530.7,30967.9,26939.4,28290.6,..,..
88,Brunei,BRN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,2.59897,3.74532,0.912842,-2.12603,-2.34975,-0.566815,-2.46551,1.32875,..,..
89,Brunei,BRN,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,1.37074e+10,1.85253e+10,1.90485e+10,1.80938e+10,1.70983e+10,1.29304e+10,1.14007e+10,1.21281e+10,..,..
90,Bulgaria,BGR,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,6843.27,7813.81,7378.02,7646.84,7864.76,6993.78,7469.46,8228.01,..,..
91,Bulgaria,BGR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,1.32409,1.91491,0.0309699,0.493921,1.83752,3.47119,3.93676,3.81125,..,..
92,Bulgaria,BGR,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,5.06101e+10,5.74184e+10,5.3903e+10,5.55552e+10,5.68145e+10,5.02013e+10,5.3241e+10,5.8221e+10,..,..
93,Burkina Faso,BFA,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,575.446,666.84,673.823,699.782,703.822,575.314,583.831,642.037,..,..
94,Burkina Faso,BFA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,5.37337,6.62687,6.4527,5.79259,4.32684,3.89455,5.93414,6.3021,..,..
95,Burkina Faso,BFA,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,8.97997e+09,1.07241e+10,1.11661e+10,1.19472e+10,1.23774e+10,1.04193e+10,1.08864e+10,1.23229e+10,..,..
96,Burundi,BDI,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,231.796,247.229,250.363,255.373,273.538,304.374,281.181,292.005,..,..
97,Burundi,BDI,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2019-04-01,201904.0,..,..,..,..,...,5.12416,4.0326,4.44671,4.9242,4.24065,-3.9,-0.60002,0.50001,..,..
98,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,2019-04-01,201904.0,..,..,..,..,...,2.03214e+09,2.23582e+09,2.33331e+09,2.45163e+09,2.70578e+09,3.10439e+09,2.95919e+09,3.17242e+09,..,..
99,Cambodia,KHM,GDP per capita (current US$),NY.GDP.PCAP.CD,2019-04-01,201904.0,..,..,..,..,...,785.693,882.49,951.111,1013.67,1093.76,1163.19,1269.91,1384.42,..,..

In [27]:
country_codes = pop_dataDF[['Country Name','Country Code']]
country_codes = country_codes.drop_duplicates()

In [28]:
country_codes.head()

     Country Name Country Code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [29]:
un_dataDF.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000

In [61]:
un_dataDF_WC = un_dataDF_WC.rename(columns={"Country / territory of asylum/residence": "Country:Current", "Population type:Population_type":"Country:Origin"})

In [62]:
un_dataDF_WC.head()

,Year,Country:Current,Country:Origin,Population_type,Value,Country_Code:Current,Country_Code:Origin
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000,AUS,NaN
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000,AUT,NaN
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000,BEL,NaN
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511,CAN,NaN
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000,CHE,NaN

In [53]:
un_dataDF_WC = pd.merge(un_dataDF_WC, country_codes,how = 'left', on = ["Country Name","Country Name"])

In [54]:
un_dataDF_WC.head()

,Year,Country / territory of asylum/residence,Country Name,Population type,Value,Country_Code:Current,Country Code
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000,AUS,NaN
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000,AUT,NaN
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000,BEL,NaN
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511,CAN,NaN
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000,CHE,NaN

In [41]:
## Add country code to UN Refugee Data

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000

In [81]:
un_dataDF_WC.head()
un_dataDF_WC['Country_Code:Current'].isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11         True
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20         True
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
180472    False
180473    False
180474    False
180475    False
180476    False
180477    False
180478    False
180479    False
180480    False
180481    False
180482    False
180483    False
180484    False
180485    False
180486    False
180487    False
180488    False
180489    False
180490    False
180491    False
180492    False
180493    False
180494    False
180495    False
180496    False
180497    False
180498    False
180499    False
180500    False
180501    False
Name: Country_Code:Current, Length: 180502, dtype: bool

In [76]:
un_dataDF_WC.head(1000000)

,Year,Country:Current,Country:Origin,Population_type,Value,Country_Code:Current,Country_Code:Origin
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000,AUS,NaN
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000,AUT,NaN
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000,BEL,NaN
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511,CAN,NaN
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000,CHE,NaN
5,1951,Germany,Various/Unknown,Refugees (incl. refugee-like situations),265000,DEU,NaN
6,1951,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),2000,DNK,NaN
7,1951,Spain,Various/Unknown,Refugees (incl. refugee-like situations),2000,ESP,NaN
8,1951,France,Various/Unknown,Refugees (incl. refugee-like situations),290000,FRA,NaN
9,1951,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),208000,GBR,NaN
10,1951,Greece,Various/Unknown,Refugees (incl. refugee-like situations),18000,GRC,NaN
11,1951,"China, Hong Kong SAR",Various/Unknown,Refugees (incl. refugee-like situations),30000,NaN,NaN
12,1951,Italy,Various/Unknown,Refugees (incl. refugee-like situations),26500,ITA,NaN
13,1951,Luxembourg,Various/Unknown,Refugees (incl. refugee-like situations),1800,LUX,NaN
14,1951,Morocco,Various/Unknown,Refugees (incl. refugee-like situations),3000,MAR,NaN
15,1951,Netherlands,Various/Unknown,Refugees (incl. refugee-like situations),14200,NLD,NaN
16,1951,Norway,Various/Unknown,Refugees (incl. refugee-like situations),2500,NOR,NaN
17,1951,Sweden,Various/Unknown,Refugees (incl. refugee-like situations),44000,SWE,NaN
18,1951,Tunisia,Various/Unknown,Refugees (incl. refugee-like situations),2000,TUN,NaN
19,1951,Turkey,Various/Unknown,Refugees (incl. refugee-like situations),2700,TUR,NaN
20,1951,United States of America,Various/Unknown,Refugees (incl. refugee-like situations),350000,NaN,NaN
21,1952,Austria,Various/Unknown,Refugees (incl. refugee-like situations),238200,AUT,NaN
22,1952,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),53500,BEL,NaN
23,1952,Canada,Various/Unknown,Refugees (incl. refugee-like situations),154828,CAN,NaN
24,1952,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),9800,CHE,NaN
25,1952,Germany,Various/Unknown,Refugees (incl. refugee-like situations),240000,DEU,NaN
26,1952,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),1800,DNK,NaN
27,1952,France,Various/Unknown,Refugees (incl. refugee-like situations),280000,FRA,NaN
28,1952,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),200000,GBR,NaN
29,1952,Greece,Various/Unknown,Refugees (incl. refugee-like situations),19000,GRC,NaN
...,...,...,...,...,...,...,...
180472,2017,Zimbabwe,Ethiopia,Others of concern,*,ZWE,ETH
180473,2017,Zimbabwe,Ethiopia,Refugees (incl. refugee-like situations),68,ZWE,ETH
180474,2017,Zimbabwe,Ghana,Others of concern,*,ZWE,GHA
180475,2017,Zimbabwe,Kenya,Asylum-seekers,8,ZWE,KEN
180476,2017,Zimbabwe,Kenya,Others of concern,*,ZWE,KEN
180477,2017,Zimbabwe,Lebanon,Refugees (incl. refugee-like situations),*,ZWE,LBN
180478,2017,Zimbabwe,Mali,Asylum-seekers,*,ZWE,MLI
180479,2017,Zimbabwe,Mali,Others of concern,*,ZWE,MLI
180480,2017,Zimbabwe,Mali,Refugees (incl. refugee-like situations),*,ZWE,MLI
180481,2017,Zimbabwe,Mozambique,Asylum-seekers,8059,ZWE,MOZ
180482,2017,Zimbabwe,Rwanda,Asylum-seekers,13,ZWE,RWA
180483,2017,Zimbabwe,Rwanda,Others of concern,239,ZWE,RWA
180484,2017,Zimbabwe,Rwanda,Refugees (incl. refugee-like situations),500,ZWE,RWA
180485,2017,Zimbabwe,Sudan,Asylum-seekers,9,ZWE,SDN
180486,2017,Zimbabwe,Sudan,Others of concern,9,ZWE,SDN
180487,2017,Zimbabwe,Sudan,Refugees (incl. refugee-like situations),5,ZWE,SDN
180488,2017,Zimbabwe,Somalia,Asylum-seekers,8,ZWE,SOM
180489,2017,Zimbabwe,Somalia,Others of concern,9,ZWE,SOM
180490,2017,Zimbabwe,Somalia,Refugees (incl. refugee-like situations),19,ZWE,SOM
180491,2017,Zimbabwe,Slovenia,Refugees (incl. refugee-like situations),*,ZWE,SVN
180492,2017,Zimbabwe,Syrian Arab Rep.,Others of concern,*,ZWE,NaN
180493,2017,Zimbabwe,Uganda,Asylum-seekers,*,ZWE,UGA
180494,2017,Zimbabwe,Uganda,Others of concern,*,ZWE,UGA
180495,2017,Zimbabwe,Uganda,Refugees (incl. refugee-like situations),8,ZWE,UGA
180496,2017,Zimbabwe,South Africa,Asylum-seekers,9,ZWE,ZAF
180497,2017,Zimbabwe,South Africa,Others of concern,5,ZWE,ZAF
180498,2017,Zimbabwe,South Africa,Refugees (incl. refugee-like situations),*,ZWE,ZAF
180499,2017,Zimbabwe,Zambia,Others of concern,*,ZWE,ZMB
180500,2017,Zimbabwe,Zimbabwe,Others of concern,137,ZWE,ZWE
180501,2017,Zimbabwe,Zimbabwe,Returned refugees,38,ZWE,ZWE

In [82]:
un_dataDF_WC.to_csv("UN_RefugeeDataClean.csv")

,Year,Country:Current,Country:Origin,Population_type,Value,Country_Code:Current,Country_Code:Origin
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000,AUS,NaN
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000,AUT,NaN
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000,BEL,NaN
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511,CAN,NaN
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000,CHE,NaN
5,1951,Germany,Various/Unknown,Refugees (incl. refugee-like situations),265000,DEU,NaN
6,1951,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),2000,DNK,NaN
7,1951,Spain,Various/Unknown,Refugees (incl. refugee-like situations),2000,ESP,NaN
8,1951,France,Various/Unknown,Refugees (incl. refugee-like situations),290000,FRA,NaN
9,1951,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),208000,GBR,NaN
10,1951,Greece,Various/Unknown,Refugees (incl. refugee-like situations),18000,GRC,NaN
11,1951,"China, Hong Kong SAR",Various/Unknown,Refugees (incl. refugee-like situations),30000,NaN,NaN
12,1951,Italy,Various/Unknown,Refugees (incl. refugee-like situations),26500,ITA,NaN
13,1951,Luxembourg,Various/Unknown,Refugees (incl. refugee-like situations),1800,LUX,NaN
14,1951,Morocco,Various/Unknown,Refugees (incl. refugee-like situations),3000,MAR,NaN
15,1951,Netherlands,Various/Unknown,Refugees (incl. refugee-like situations),14200,NLD,NaN
16,1951,Norway,Various/Unknown,Refugees (incl. refugee-like situations),2500,NOR,NaN
17,1951,Sweden,Various/Unknown,Refugees (incl. refugee-like situations),44000,SWE,NaN
18,1951,Tunisia,Various/Unknown,Refugees (incl. refugee-like situations),2000,TUN,NaN
19,1951,Turkey,Various/Unknown,Refugees (incl. refugee-like situations),2700,TUR,NaN
20,1951,United States of America,Various/Unknown,Refugees (incl. refugee-like situations),350000,NaN,NaN
21,1952,Austria,Various/Unknown,Refugees (incl. refugee-like situations),238200,AUT,NaN
22,1952,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),53500,BEL,NaN
23,1952,Canada,Various/Unknown,Refugees (incl. refugee-like situations),154828,CAN,NaN
24,1952,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),9800,CHE,NaN
25,1952,Germany,Various/Unknown,Refugees (incl. refugee-like situations),240000,DEU,NaN
26,1952,Denmark,Various/Unknown,Refugees (incl. refugee-like situations),1800,DNK,NaN
27,1952,France,Various/Unknown,Refugees (incl. refugee-like situations),280000,FRA,NaN
28,1952,United Kingdom,Various/Unknown,Refugees (incl. refugee-like situations),200000,GBR,NaN
29,1952,Greece,Various/Unknown,Refugees (incl. refugee-like situations),19000,GRC,NaN
...,...,...,...,...,...,...,...
39167,2002,Djibouti,Dem. Rep. of the Congo,Asylum-seekers,2,DJI,NaN
39177,2002,Djibouti,Yemen,Asylum-seekers,1,DJI,NaN
39205,2002,Denmark,CÃ´te d'Ivoire,Asylum-seekers,2,DNK,NaN
39208,2002,Denmark,Dem. Rep. of the Congo,Asylum-seekers,14,DNK,NaN
39209,2002,Denmark,Dem. Rep. of the Congo,Refugees (incl. refugee-like situations),142,DNK,NaN
39210,2002,Denmark,Congo,Asylum-seekers,2,DNK,NaN
39211,2002,Denmark,Congo,Refugees (incl. refugee-like situations),54,DNK,NaN
39220,2002,Denmark,Egypt,Asylum-seekers,6,DNK,NaN
39221,2002,Denmark,Egypt,Refugees (incl. refugee-like situations),22,DNK,NaN
39232,2002,Denmark,Gambia,Asylum-seekers,3,DNK,NaN
39233,2002,Denmark,Gambia,Refugees (incl. refugee-like situations),3,DNK,NaN
39243,2002,Denmark,Iran (Islamic Rep. of),Asylum-seekers,279,DNK,NaN
39244,2002,Denmark,Iran (Islamic Rep. of),Refugees (incl. refugee-like situations),1771,DNK,NaN
39254,2002,Denmark,Kyrgyzstan,Asylum-seekers,3,DNK,NaN
39268,2002,Denmark,Rep. of Moldova,Refugees (incl. refugee-like situations),28,DNK,NaN
39269,2002,Denmark,The former Yugoslav Republic of Macedonia,Asylum-seekers,52,DNK,NaN
39270,2002,Denmark,The former Yugoslav Republic of Macedonia,Refugees (incl. refugee-like situations),17,DNK,NaN
39286,2002,Denmark,Dem. People's Rep. of Korea,Refugees (incl. refugee-like situations),7,DNK,NaN
39287,2002,Denmark,Palestinian,Asylum-seekers,147,DNK,NaN
39288,2002,Denmark,Palestinian,Refugees (incl. refugee-like situations),2188,DNK,NaN
39300,2002,Denmark,Serbia and Kosovo (S/RES/1244 (1999)),Asylum-seekers,450,DNK,NaN
39301,2002,Denmark,Serbia and Kosovo (S/RES/1244 (1999)),Refugees (incl. refugee-like situations),4470,DNK,NaN
39302,2002,Denmark,Serbia and Kosovo (S/RES/1244 (1999)),Returned refugees,67,DNK,NaN
39303,2002,Denmark,Slovakia,Asylum-seekers,6,DNK,NaN
39304,2002,Denmark,Slovakia,Refugees (incl. refugee-like situations),13,DNK,NaN
39309,2002,Denmark,Syrian Arab Rep.,Asylum-seekers,49,DNK,NaN
39310,2002,Denmark,Syrian Arab Rep.,Refugees (incl. refugee-like situations),180,DNK,NaN
39320,2002,Denmark,United Rep. of Tanzania,Refugees (incl. refugee-like situations),10,DNK,NaN
39326,2002,Denmark,United States of America,Refugees (incl. refugee-like situations),3,DNK,NaN
39329,2002,Denmark,Viet Nam,Asylum-seekers,5,DNK,NaN

In [1]:
import pandas as pd
import sqlite3

In [2]:
unDataC = pd.read_excel("UN_RefugeeDataClean.xlsx")
unDataC.head()

,Year,Country:Current,Country:Origin,Population_type,Value,Country_Code:Current,Country_Code:Origin
0,2010,Canada,Aruba,Asylum-seekers,1,CAN,ABW
1,1998,China,Afghanistan,Refugees (incl. refugee-like situations),1,CHN,AFG
2,1999,China,Afghanistan,Refugees (incl. refugee-like situations),1,CHN,AFG
3,1993,Singapore,Afghanistan,Refugees (incl. refugee-like situations),1,SGP,AFG
4,2000,China,Afghanistan,Refugees (incl. refugee-like situations),1,CHN,AFG

In [4]:
import json
import os

with open("countries/countries.json") as jsonfile:
    countries_json = json.load(jsonfile)

In [10]:
common_name = []
official_name = []
country_code =[]
independent = []
status = []
capital = []
region = []
subregion = []
lat = []
long = []

for country in countries_json:
    common_name.append(country['name']['common'])
    official_name.append(country['name']['official'])
    country_code.append(country['cca3'])
    independent.append(country['independent'])
    status.append(country['status'])
    capital.append(country['capital'])
    region.append(country['region'])
    subregion.append(country['subregion'])
    lat.append(country['latlng'][0])
    long.append(country['latlng'][1])

In [16]:
countriesDF = pd.DataFrame({"common_name":common_name, "official_name": official_name, "country_code": country_code, "independent":independent, "status": status, "capital":capital,"region":region,"subregion":subregion, "lat":lat, "long":long })

In [17]:
countriesDF.head()

,common_name,official_name,country_code,independent,status,capital,region,subregion,latlng
0,Aruba,Aruba,ABW,False,officially-assigned,[Oranjestad],Americas,Caribbean,"[12.5, -69.96666666]"
1,Afghanistan,Islamic Republic of Afghanistan,AFG,True,officially-assigned,[Kabul],Asia,Southern Asia,"[33, 65]"
2,Angola,Republic of Angola,AGO,True,officially-assigned,[Luanda],Africa,Middle Africa,"[-12.5, 18.5]"
3,Anguilla,Anguilla,AIA,False,officially-assigned,[The Valley],Americas,Caribbean,"[18.25, -63.16666666]"
4,Ã…land Islands,Ã…land Islands,ALA,False,officially-assigned,[Mariehamn],Europe,Northern Europe,"[60.116667, 19.9]"

In [ ]:
conn = sqlite3.connect('data.db')
c = conn.cursor()

df_prime.to_sql("nyt_bestsellers", conn, if_exists="replace")

c.execute("SELECT * from nyt_bestsellers")
rows = c.fetchall()
 
for row in rows:
    print(row)